:root{
  --primary: #482F51;
  --secondary: #FBD76D;
  --gray:#525252;
  --white:#FFFF;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* color:var(--primary); */
}

.buttonDisabledPrimary:disabled:hover{
  background-color: var(--primary) !important;
}
.buttonDisabledSecondary:disabled:hover{
  background-color: var(--secondary) !important;
}



.generalWrapper{
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

@media only screen and (max-width: 300px) {
  .generalWrapper {
    padding: 0;
  }
}

.flexCenterCustom{
  display: flex;
  align-items: center;
  justify-content: center;
}


.bold600{
  font-weight: 600;
}
.bold500{
  font-weight: 500;
}
.bold400{
  font-weight: 400;
}
.bold300{
  font-weight: 300;
}
.bold200{
  font-weight: 200;
}

/* Margin top */
.mt1{
  margin-top: 0.5rem;
}
.mt2{
  margin-top: 1rem;
}
.mt3{
  margin-top: 1.5rem;
}
.mt4{
  margin-top: 2rem;
}
.mt5{
  margin-top: 2.5rem;
}
.mt6{
  margin-top: 3rem;
}
/* Margin left */
.ml1{
  margin-left: 0.5rem;
}
.ml2{
  margin-left: 1rem;
}
.ml3{
  margin-left: 1.5rem;
}
.ml4{
  margin-left: 2rem;
}
.ml5{
  margin-left: 2.5rem;
}
.ml6{
  margin-left: 3rem;
}
/* Margin Bottom */
.mb1{
  margin-bottom: 0.5rem;
}
.mb2{
  margin-bottom: 1rem;
}
.mb3{
  margin-bottom: 1.5rem;
}
.mb4{
  margin-bottom: 2rem;
}
.mb5{
  margin-bottom: 2.5rem;
}
.mb6{
  margin-bottom: 3rem;
}
/* Margin Right */
.mr1{
  margin-right: 0.5rem;
}
.mr2{
  margin-right: 1rem;
}
.mr3{
  margin-right: 1.5rem;
}
.mr4{
  margin-right: 2rem;
}
.mr5{
  margin-right: 2.5rem;
}
.mr6{
  margin-right: 3rem;
}

/* Padding top */
.pt1{
  padding-top: 0.5rem;
}
.pt2{
  padding-top: 1rem;
}
.pt3{
  padding-top: 1.5rem;
}
.pt4{
  padding-top: 2rem;
}
.pt5{
  padding-top: 2.5rem;
}
.pt6{
  padding-top: 3rem;
}
/* Padding left */
.pl1{
  padding-left: 0.5rem;
}
.pl2{
  padding-left: 1rem;
}
.pl3{
  padding-left: 1.5rem;
}
.pl4{
  padding-left: 2rem;
}
.pl5{
  padding-left: 2.5rem;
}
.pl6{
  padding-left: 3rem;
}
/* Padding Bottom */
.pb1{
  padding-bottom: 0.5rem;
}
.pb2{
  padding-bottom: 1rem;
}
.pb3{
  padding-bottom: 1.5rem;
}
.pb4{
  padding-bottom: 2rem;
}
.pb5{
  padding-bottom: 2.5rem;
}
.pb6{
  padding-bottom: 3rem;
}
/* Padding Right */
.pr1{
  padding-bottom: 0.5rem;
}
.pr2{
  padding-bottom: 1rem;
}
.pr3{
  padding-bottom: 1.5rem;
}
.pr4{
  padding-bottom: 2rem;
}
.pr5{
  padding-bottom: 2.5rem;
}
.pr6{
  padding-bottom: 3rem;
}
/* Padding Axis X */
.px1{
  padding:0 0.5rem;
}
.px2{
  padding:0 1rem;
}
.px3{
  padding:0 1.5rem;
}
.px4{
  padding:0 2rem;
}
.px5{
  padding:0 2.5rem;
}
.px6{
  padding:0 3rem;
}
/* Padding Axis Y */
.py1{
  padding:0.5rem 0;
}
.py2{
  padding:1rem 0;
 }
.py3{
  padding:1.5rem 0;
}
.py4{
  padding:2rem 0;
 }
.py5{
  padding:2.5rem 0;
}
.py6{
  padding:3rem 0;
 }


 .alignCenter{
   text-align:center;
 }

/*----------------Swiper-----------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--secondary);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper  .swiper-button-next, .mySwiper  .swiper-button-prev {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid white;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4) ;
  border-radius: 50%;
  padding: 1.3rem;
}

.mySwiper .swiper-button-next{
  top:90%;
  right: 100px;
}

.mySwiper .swiper-button-prev{
  top: 90%;
  right: 180px;
  left: auto;
}

.mySwiper .swiper-button-next::after,.mySwiper .swiper-button-prev::after{
  font-size: 1rem;
}

/* --------------------------SliderBig --------------------------*/
.mySwiperBig{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}
.mySwiperBig .swiper-container{
  width: 100%;
  height: 100%;
}
.mySwiperBig .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperBig .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiperBig  .swiper-button-next, .mySwiperBig  .swiper-button-prev {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid white;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4) ;
  border-radius: 50%;
  padding: 1.3rem;
}

.mySwiperBig .swiper-button-next::after,.mySwiperBig .swiper-button-prev::after{
  font-size: 1rem;
  font-weight:400;
}

/* --------------------------SliderSmall-----------------------------*/
.mySwiperSmall{
  margin: 10px 0;
  width: 100%;
  height: 100px;

}
.mySwiperSmall .swiper-container{
  width: 100%;
  height: 100%;
}
.mySwiperSmall .swiper-slide{

  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mySwiperSmall .slide-2{
  background: blue;
}
.mySwiperSmall .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* -------------------------- SwiperTab --------------------------*/
.mySwiperTab{
  width:100%;
}
.mySwiperTab .swiper-container{
  width: 100%;
  height: 100%;
}
.mySwiperTab .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiperTab .swiper-button-next, .mySwiperTab .swiper-button-prev {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid white;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.4) ;
  border-radius: 50%;
  padding: 1.3rem;
}
.mySwiperTab .swiper-button-next::after, .mySwiperTab .swiper-button-prev::after{
  font-size: 1rem;
}



