.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.conteinerBlanco {
  width: 345px;
}

.conteinerConFondo {
  background-image: url("../../public/ReImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteinerForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.h1 {
  width: 338.92px;
  height: 30px;
  margin-bottom: 29px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

  text-align: center;

  color: var(--primary);
}

.p {
  width: 339px;
  height: 54px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: var(--primary);
}

.Label {
  width: 100%;
  height: 20px;
  margin-top: 29px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary);
}

.Boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 19px;

  width: 80%;
  height: 41px;

  background: #304659;
  border-radius: 5px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;

  text-align: center;
  color: #ffffff;
}

@media only screen and(max-width: 330px) {
  .conteinerConFondo {
    max-width: 100%;
    height: auto;
    position: fixed;
  }

  .conteinerForm {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .h1 {
    font-size: 10px;
  }
}
